*{
    border:0;
    margin:0;
    background: url("./b3.jpg") no-repeat;
    background-size: cover ;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Trebuchet MS';
    background:#34495e;
}

.User_Log{
    width:340px;
    padding: 40px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #000000 ;
    text-align: center;
    border-radius: 15px;
}

.User_Log h1{
    color: rgb(10, 1, 1);
    text-transform: uppercase;
    font-weight:500;
    background: azure;
    border-radius: 10px;
    border:0;
}

.User_Log input[type="text"],.User_Log input[type="password"]{
    border:0;
    border-radius: 25px;
    background:none;
    display:block;
    font-size: 18px;
    font-family: 'Trebuchet MS';
    margin: 20px auto;
    text-align: center;
    border:2px solid #e7d40c;
    padding:14px 10px;
    width:200px;
    outline:none;
    color:white;
    transition: 0.25s;
}

.User_Log input[type="text"]:focus,.User_Log input[type="password"]:focus{
    width: 280px;
    border-color: #ef5f06;
}

.User_Log input[type = "submit"]{
    border:0;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'Trebuchet MS';
    background:none;
    display:block;
    margin: 20px auto;
    text-align: center;
    border:2px solid #8dbfdb;
    padding:14px 40px;
    width:200px;
    outline:none;
    color:white;
    transition: 0.25s;
}

.User_Log input[type="submit"]:hover{
    background: #a6a5d1;
}

.User_Log p{
    background: rgb(10, 1, 1);
    border: 0;
    border-radius: 5px;
    top: 50px;
    left:50px;
    color: whitesmoke;
    font-size: 18px;
    text-align: center;
}

.User_Log p a{
    background: rgb(10, 1, 1);
    font-size: 18px;
    color:#05dc08b7;

}